.el-tabs {
  width: 50%;
  position: fixed;
  top: 17px;
  right: 0;
}

.content {
  padding: 10px 30px;
}

.content .row {
  margin: 10px 0;
}

.content .title {
  color: #5f6368;
  font-weight: bold;
}

.btn {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all .2s;
}

.btn:hover {
  color: #409EFF;
}
.response-content{
  padding: 20px;
}
.point{
  display: inline-block;
  margin-left: 18px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #67C23A;
}
.text-box{
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
}
.text-box textarea{
  width: 100%;
  height: 100%;
}
.text-box textarea:focus-visible{
  border:node;
}